<div class="d-flex flex-row p-4">
  <figure>
    <img class="profile-picture-small" src="{{owner.profilePicturePath}}" alt="{{owner.name}}">
  </figure>
  <div class="venda-infos-text mx-4 p-2">
    <h3 class="venda-name">{{name}}</h3>
    <p><i>{{description}}</i></p>
    <p>Categorias: {{#each categories}}
      {{#if @last}}
      <span>{{this}}</span>
      {{else}}
      <span>{{this}}, </span>
      {{/if}}
      {{/each}}
      </p>
    <p>Horário: {{startTime}} - {{endTime}}</p>
    {{!-- //TODO adicionar média avaliações --}}
    <a href="/venda/{{_id}}">Mais detalhes</a>
  </div>
</div>
<hr>
