<form id="form" action="/edit-venda" method="POST">
  <label for="name">Nome da vendinha</label>
  <input value="{{name}}" type="text" name="name">
    <br>
  <label for="name">Adicione uma descrição</label>
  <input value="{{description}}" type="textarea" name="description">
    <br>

  <label for="categories">Categorias de produtos</label>  {{!-- //TODO popular dados das categorias --}}
  <input type="checkbox" name="cat1" value="Café"> Café<br>
  <input type="checkbox" name="cat2" value="Doces"> Doces<br>
  <input type="checkbox" name="cat3" value="Salgados"> Salgados<br>
  <input type="checkbox" name="cat4" value="Pipoca"> Pipoca<br>
  <input type="checkbox" name="cat5" value="Frutas"> Frutas<br>

  <label for="streetAddress">Endereço</label>
  <input id="latitude" value="{{location.coordinates.[1]}}" type="text" name="lat" hidden>
  <input id="longitude" value="{{location.coordinates.[0]}}" type="text" name="long"hidden>
  <input id="streetAddress" type="address" name="streetAddress" value="{{streetAddress}}">


  <label>Horário de funcionamento</label> 
  <input value={{startTime}} type="time" name="startTime">
  <input value={{endTime}} type="time" name="endTime">
    <br><br>

    <br>
  <input type="hidden" name="id" value="{{_id}}">

  <button type="submit">Salvar alterações</button>
</form>
<br>
<br>

<h4>Adicionar fotos</h4>
<form action="/upload-picture" method="POST" enctype="multipart/form-data">

  <label for="photo">Carregar foto</label>
  <input type="file" name="photo">
  <br>
  <label for="description">Descrição</label>
  <input type="text" name="description">
  <input type="hidden" name="id" value="{{_id}}">
  <button type="submit">Fazer upload</button>
</form>